@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #0f0f0f;
  --black: #000000;
  --cursor-color: #ffffff;
  --cursor-color-outer: #ffffff;
  --theme-bg: #0f0f0f;
  --theme-color: #fff;
  --white: #fff;
  --black: #000;
  --primary-color: #151515;
  --secondary-color: #1b1b1b;
  --tertiary-color: #181818;
  --quaternary-color: #686868;
  --quinary-color: #f70354;
  --senary-color: #949494;
  --septenary-color: #d9d9d9;
  --octonary-color: #414141;
  --hr--color: #262626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

@media(max-width: 768px) {

  .cursor,
  .navbar-container,
  .cursor-outer {
    display: none;
  }

  .banner-container {
    display: flex !important;
    flex-direction: column;
  }

  .skill-card-container {
    order: 1;
  }



  .hero-banner-container {
    order: 3;
  }
}

@media (max-width: 1199.98px) {
  .navbar-item {
    display: none;
  }

  .profile-card-container {
    position: relative;
  }

  .banner-container {
    display: grid;
    grid-template-areas:
      "profile skill"
      "hero hero";
  }

  .profile-card-container {
    grid-area: profile;
  }

  .hero-banner-container {
    grid-area: hero;
  }

  .skill-card-container {
    grid-area: skill;
  }
}

.cursor {
  transition: all 0.01s ease-out;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background-color: var(--cursor-color);
}

.cursor-outer {
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--cursor-color-outer);
  transition: all 0.25s ease-out;
  pointer-events: none;
}

.profile-card-container {
  background-image: linear-gradient(180deg, #262626, rgba(38, 38, 38, .1));
  padding: 20px;
  border: 1px solid #242424;
}

.hero-card-container {
  background-image: linear-gradient(180deg, #262626, rgba(38, 38, 38, .1));
  padding: 40px;
  border: 1px solid #242424;
}

.text-quaternary {
  color: var(--quaternary-color) !important;
}

.hr-style {
  background: var(--hr--color);
  border: 0;
  height: 1px;
}

.button-primary {
  justify-content: space-between;
  border: 1px solid #242424;

}

.fancy-hover:hover {
  transition: all 0.25s ease;
  border: 1px solid var(--theme-color);
}