@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #0f0f0f;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

@media(max-width: 768px) {

  .cursor,
  .navbar-container,
  .cursor-outer {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-item {
    display: none;
  }
}

.cursor {
  transition: all 0.01s ease-out;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background-color: #fff;
}

.cursor-outer {
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  transition: all 0.25s ease-out;
  pointer-events: none;
}